:root {
	--blue: #22357c;
	--indigo: #6610f2;
	--purple: #737390;
	--pink: #e83e8c;
	--red: #f44336;
	--orange: #fd7e14;
	--yellow: #be7c25;
	--green: #408c5d;
	--teal: #20c997;
	--cyan: #57a4cc;
	--white: #fff;
	--gray-light: #98a2ac;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #22357c;
	--secondary: #737390;
	--success: #408c5d;
	--info: #57a4cc;
	--warning: #be7c25;
	--danger: #f44336;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

.row,
.row > * {
	display: flex;
	flex-wrap: wrap;
}

.justify-content-around {
	justify-content: space-around;
}

a.button {
	padding: 0.5rem 1rem;
	margin: 0.5em 1em;
	background-color: var(--primary);
	color: white;
	/* border: 1px solid #e8e8e8; */
	border-radius: 5px;
	text-wrap: nowrap;
}

a.button:hover {
	text-decoration: none;
	filter: brightness(125%);
	box-shadow: none;
}

@media screen and (min-width: 768px) {
	.col-md-5 {
		width: 40%;
	}
}

/* Table of Contents */

.toc-container {
	margin-left: 2em;
	border: 1px solid #d9d9e1;
	width: fit-content;
	margin-bottom: 2em;
}
.toc-title {
	background-color: #ededf1;
	border-bottom: 1px solid #d9d9e1;
	font-size: unset;
	font-weight: bold;
	padding: 0.5em 1em;
	margin-bottom: 0;
}
.toc-body {
	padding: 0.5em 1em 0 1em;
}

/* Post list */

.post-list ol {
	width: fit-content;
}

.post-list ol li {
	line-height: 3;
	border-bottom: 0.5px solid var(--purple);
	list-style-position: inside;
	color: var(--gray-light);
}

.post-list ol li a {
	margin-left: 1rem;
}
